@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(20, 0, 36, 1) 0%, rgba(60, 9, 121, 1) 50%, rgba(100, 0, 255, 1) 100%);
}