.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    background-image: url('../../../public/espaco.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 200%;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 420px;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px #000000;
    margin-bottom: 10px;
}

form button {
    border-radius: 30px;
    background-color: #fff;
    color: #333;
    border: 2px solid #ffffff;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}

form button:hover {
    background-color: transparent;
    color: #fff;
    transition: 0.5s;
}

.user-pass {
    position: relative;
    width: 100%;
    height: 2rem;
    margin: 5px 0;
}

.user-pass input {
    height: 40px;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 40px;
    background-color: transparent;
    color: #fff;
    outline: none;
    font-size: 1rem;
    padding: 20px;
}

.input-icon {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 35%;
}

/* Ajustes finos nos inputs com pre-estilo do chome */

/* |-> Setas no input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* |-> Autocomplete do Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff;
    transition: background-color 9999s ease-in-out 0s;
}

/*--------------------------------------------------*/

.card {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.5);
    margin: 5px;
    padding: 10px;
    width: 350px;
    max-width: 90%;
    border: 1px solid #3c3c3c;
    border-radius: 10px;
}

.actions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
}

.line {
    position: absolute;
    left: 0;
    width: 2px;
    height: 55px;
    background-color: rgba(204, 204, 204, 0.3);
    border-radius: 100px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.options button {
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    height: 25px;
    width: 25px;
}

.options button:hover {
    border: 1px solid #888888;
    background-color: rgba(51, 51, 51, 0.5);
    transition: 0.3s;
}

.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.box-float {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    height: 350px;
    max-width: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.header-edit {
    display: flex;
    justify-content: space-between;
}

.close {
    font-size: 20px;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    border: 2px solid #696969;
    background-color: rgba(51, 51, 51, 0.2);
}

.close i:hover {
    transform: rotate(360deg);
    transition: 0.5s ease;
}

.box-edit {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-edit {
    width: 100%;
    height: 2rem;
    margin: 5px 0;
}

.user-edit p {
    margin-left: 6px;
    font-size: 16px;
}

.user-edit input {
    height: 40px;
    width: 100%;
    border: 2px solid #000;
    border-radius: 12px;
    background-color: transparent;
    color: #000;
    outline: none;
    font-size: 1rem;
    padding: 10px;
}

.confirm-edit {
    color: #fff;
    margin-top: 10px;
    height: 25px;
    width: 80px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #000;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.confirm-edit:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
}
