# ==============================
# DEPENDÊNCIAS
# ==============================
node_modules/

# ==============================
# VARIÁVEIS DE AMBIENTE
# ==============================
.env

# ==============================
# PRISMA
# ==============================
/generated/prisma
prisma/dev.db
*.db

# ==============================
# LOGS
# ==============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# SISTEMA OPERACIONAL
# ==============================
.DS_Store
Thumbs.db
